*{
    font-family: "Poppins", sans-serif;
}

.navbar-container{
    nav{
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.request-access-page{
    select{
        option{
            background-color: black;
            color: white;
        }
    }
}